<%- include('head', {title: title}) %>

<body>
<%- include('header', {title: title})%>

    <div class="container">
        <nav class="breadcrumb">
            <h3>Productos en Venta</h3>
        </nav>
        <div class="card-columns">
            <% anunciosResult.forEach(function(anuncio){%>
                <% if(anuncio.venta) { %>
                    <div class="card bg-light border-secondary">
                        <%- include('./anuncio_', {title:anuncio}) %>
                    </div>
                <% }; %>
            <%})%>
        </div>

        <nav class="breadcrumb">
            <h3>Productos en Búsqueda</h3>
        </nav>
        <div class="card-columns">
            <% anunciosResult.forEach(function(anuncio){%>
                <% if(!anuncio.venta) { %>
                    
                <% }; %>
            <%})%>
        </div>
    </div>




    <%- include('footer') %>

</body>

</html>