<nav >
  <div class="container">
  <div >
    <span>
      NodePOP
    </span>
    <ul >
      <li >
        <a href="http://localhost:3000/" class="nav-link">Inicio</a>
      </li>
      <li >
        <a href="http://localhost:3000/anuncios" >Galería de Anuncios</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<div class="container text-center header-text">
  <h2><%= title %></h2>
</div>